patat/extended-abstract.tex.bak
/patat/extended-abstract.tex.bak

patat/extended-abstract.aux
patat/extended-abstract.blg
patat/extended-abstract.bbl
patat/extended-abstract.log
patat/extended-abstract.out
patat/extended-abstract.pdf